@inherits LayoutComponentBase
@inject NavigationManager NM

<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top headroom">
    <div class="container">
        <div class="navbar-header">
            <!-- Button for smallest screens -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" style="cursor: pointer;" @onclick="@(() => NM.NavigateTo("/"))">
                <p style="color : white; font-size:20px; border-radius: 5px; margin-top:-10px;border-style: solid; padding :8px;text-align : center;">
                    Vos Technicien De Confiance
                </p>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">

                <li>
                    <a class="btn" style="cursor: pointer;" @onclick="GoTo">
                        @(NM.ToBaseRelativePath(NM.Uri) == "login" ? "S'inscrire" : "Se Connecter")
                    </a>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<!-- /.navbar -->

<div>
    <header id="head" class="secondary"></header>
    @Body
    <br />
    <Foot></Foot>
</div>

@code {
    protected string _goto ;
    protected void GoTo()
    {

        var x = NM.ToBaseRelativePath(NM.Uri);
        if (x == "login")
            _goto = "register";
        else
            _goto = "login";
         NM.NavigateTo(_goto);
    }
}