<br />
<br />
<footer id="footer" class="top-space" style="z-index:2147483647 ;position: fixed ; bottom: 0; width: 100%;">
    <div class="footer2">
        <div class="container">
            <div class="row">

                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="text-right">
                            All Copyright &copy; reserved | Developed by Adnenbenawicha@gmail.com
                        </p>
                    </div>
                </div>

            </div> 
        </div>
    </div>

</footer>	